.containernavbar{
    max-width: 1350px;
    margin: auto;
    background:  #f59bad;
 
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

.logo{
    height: 30px;
    width: 150px
}